# Python junk
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/

# Jupyter junk
.ipynb_checkpoints

# Mac junk
.DS_Store

# Kubernetes Secrets (Safety First!)
# Never commit a file that contains 'kind: Secret' with actual data
secrets.yaml
kubeconfig
*.kubeconfig

# Large Data (Don't push the model file itself if it's huge)
data/
models/